{{!-- <h4>wanna edit the blogpost<h4> --}}

{{!-- <div class="dish-card">
  <div class="dish-card-header">
   <h3>{{title}}</h3> 
  </div>
  <div class="card-body">
    <p>
     {{content}}
    </p>
   
  </div>
</div>


  <h2>
  Delete Blogs
  </h2>
  <form class="delete-blogs" data-blog-id={{blogpost.id}}>
    <label for="title"> title:</label>
    <br />
    <textarea id="title" name="title" rows="2" cols="30">{{blogpost.title}}</textarea>
    <br />
    <label for="content">content:</label>
    <br />
    <textarea id="content" name="content" rows="5" cols="30">{{blogpost.content}}</textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="delete">
      delete
    </button>
  </form>


<script src="/js/delete.js"></script>  --}}