{{!-- <h4>wanna edit the blogpost<h4> --}}

<div id="blog">
  <div class="dish-card-header">
   <h2>{{title}}</h2> 
  </div>
  <div class="card-body">
    <p>
     {{content}}
    </p>
   
  </div>



<div class="edit-dish-container">
  <h3>
    wanna Update the Blogs?
  </h3>
  <form class="edit-blogs" data-blog-id={{id}}>
    <label for="title"> title:</label>
    <br />
    {{!-- <a href="/blogpost/{{id}}">{{title}}</a> --}}
    <textarea id="title" name="title" rows="2" cols="30">{{title}}</textarea>
    <br />
    <label for="content">content:</label>
    <br />
    <textarea id="content" name="content" rows="5" cols="30">{{content}}</textarea>
    <br />
    <br />
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
    <button type='submit' value='delete'>delete</button>
  </form>
</div>
</div>

<script src="../js/editBlog.js"></script> 